INJIVER-957: OpenID4VP: Presentation Definition Validation

The following validations be made in Presentation Definition:

The Verifier MAY send an Authorization Request as a Request Object either by value or by reference, as defined in the JWT-Secured Authorization Request (JAR)

This specification defines a new mechanism for the cases when the Wallet wants to provide to the Verifier details about its technical capabilities to allow the Verifier to generate a request that matches the technical capabilities of that Wallet. To enable this, the Authorization Request can contain a `request_uri_method` parameter with the value `post` that signals to the Wallet that it can make an HTTP POST request to the Verifier's `request_uri` endpoint with information about its capabilities as defined in [Section 5.8](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#request_uri_method_post). The Wallet MAY continue with JAR when it receives `request_uri_method` parameter with the value `post` but does not support this feature.[¶](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#section-5-3)

The Verifier articulates requirements of the Credential(s) that are requested using `presentation_definition` and `presentation_definition_uri` parameters that contain a Presentation Definition JSON object as defined in Section 5 of [[DIF.PresentationExchange](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#DIF.PresentationExchange)]. Wallet implementations MUST process Presentation Definition JSON object and select candidate Verifiable Credential(s) using the evaluation process described in Section 8 of [[DIF.PresentationExchange](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#DIF.PresentationExchange)] unless implementing only a credential profile that provides rules on how to evaluate and process [[DIF.PresentationExchange](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#DIF.PresentationExchange)].

The Verifier communicates a Client Identifier Scheme that indicate how the Wallet is supposed to interpret the Client Identifier and associated data in the process of Client identification, authentication, and authorization using `client_id_scheme` parameter. This parameter enables deployments of this specification to use different mechanisms to obtain and validate Client metadata beyond the scope of [[RFC6749](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#RFC6749)]. A certain Client Identifier Scheme MAY require the Verifier to sign the Authorization Request as means of authentication and/or pass additional parameters and require the Wallet to process them.

Depending on the Client Identifier Scheme, the Verifier can communicate a JSON object with its metadata using the `client_metadata` parameter which contains name/value pairs defined in Section 4.3 and Section 2.1 of the OpenID Connect Dynamic Client Registration 1.0 [[OpenID.Registration](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#OpenID.Registration)] specification as well as [[RFC7591](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#RFC7591)].

This specification enables the Verifier to send both Presentation Definition JSON object and Client Metadata JSON object by value or by reference.

This specification defines the following new parameters:

- `presentation_definition`:

A string containing a Presentation Definition JSON object. See [Section 5.1](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#request_presentation_definition) for more details. This parameter *MUST* be present when `presentation_definition_uri` parameter, or a `scope` value representing a Presentation Definition is not present.

- `presentation_definition_uri`:

A string containing an HTTPS URL pointing to a resource where a Presentation Definition JSON object can be retrieved. This parameter *MUST* be present when `presentation_definition` parameter, or a `scope` value representing a Presentation Definition is not present. See [Section 5.2](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#request_presentation_definition_uri) for more details.

- `client_id_scheme`:

*OPTIONAL*. A string identifying the scheme of the value in the `client_id` Authorization Request parameter (Client Identifier scheme). The `client_id_scheme` parameter namespaces the respective Client Identifier. If an Authorization Request uses the `client_id_scheme` parameter, the Wallet MUST interpret the Client Identifier of the Verifier in the context of the Client Identifier scheme. If the parameter is not present, the Wallet MUST behave as specified in [[RFC6749](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#RFC6749)]. See [Section 5.7](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#client_metadata_management) for the values defined by this specification. If the same Client Identifier is used with different Client Identifier schemes, those occurrences MUST be treated as different Verifiers. Note that the Verifier needs to determine which Client Identifier schemes the Wallet supports prior to sending the Authorization Request in order to choose a supported scheme.

- `client_metadata`:

*OPTIONAL.* A JSON object containing the Verifier metadata values. It MUST be UTF-8 encoded.

A public key to be used by the Wallet as an input to the key agreement to encrypt Authorization Response (see [Section 6.3](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#jarm)). It MAY be passed by the Verifier using the `jwks` or the `jwks_uri` claim within the `client_metadata` request parameter.

- `request_uri_method`:

*OPTIONAL.* A string determining the HTTP method to be used when the `request_uri` parameter is included in the same request. Two case-sensitive valid values are defined in this specification: `get` and `post`. If `request_uri_method` value is `get`, the Wallet MUST send the request to retrieve the Request Object using the HTTP GET method, i.e., as defined in [[RFC9101](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#RFC9101)]. If `request_uri_method` value is `post`, a supporting Wallet MUST send the request using the HTTP POST method as detailed in [Section 5.8](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#request_uri_method_post). If the `request_uri_method` parameter is not present, the Wallet MUST process the `request_uri` parameter as defined in [[RFC9101](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#RFC9101)]. Wallets not supporting the `post` method will send a GET request to the Request URI (default behavior as defined in [[RFC9101](https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html#RFC9101)]). `request_uri_method` parameter MUST NOT be present if a `request_uri` parameter is not present.

If the Verifier set the `request_uri_method` parameter value to `post` and there is no other means to convey its capabilities to the Wallet, it SHOULD add the `client_metadata` parameter to the Authorization Request. This enables the Wallet to assess the Verifier's capabilities, allowing it to transmit only the relevant capabilities through the `wallet_metadata` parameter in the Request URI POST request. If the Verifier uses the `client_id_scheme` parameter in the Request Object, it MUST also add the same `client_id_scheme` value in the Authorization Request.